@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
    color: black !important;
}

nav {
    display: flex;
    font-size: 170%;
    height: 120px;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.about {
    margin-left: 35px;
}

.store {
    padding-left: 35px;
}

.nav-section1 {
    display: flex;
    justify-content: flex-end;
}

.nav-section2 {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding: 20px;
}

.gmail {
    padding: 20px;
}

.images {
    padding: 20px;
}

.nav-section3 {
    display: flex;
    
}

.nav-section4 {
    display: flex;
    justify-content: flex-end;
}

.Hero-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 170%;
}



















