@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Nav */
.right-section {
   float: right;
    padding: 13px;
    font-size: 90%;
}

.left-section {
    float: left;
    padding: 13px;
    font-size: 90%;
}

.About {
    padding: 8px;
}

.Store {
    padding: 8px;
}

.Gmail {
    padding: 8px;
}

.Images {
    padding: 8px;
}

.Google-Apps {
    padding: 8px;
}

.Username-Logo {
    padding: 8px;
}

/* Hero Section */
.logo {
float: center;
}